<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/students.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <h3>Add Details:</h3>
            <form method="post" action="/addStudent">
                <table id="details">
                    <tr>
                        <td>Student Name:&nbsp;&nbsp;<input type="text" name="sname" id="sname"></td>
                    </tr>
                    <tr>
                        <td>Batch:&nbsp;&nbsp;<input type="text" name="batch" id="batch"></td>
                    </tr>
                    <tr>
                        <td>College Name:&nbsp;&nbsp;<input type="text" name="cname" id="cname"></td>
                    </tr>
                    <tr>
                        <td>Course Score&nbsp;(%&nbsp;/&nbsp;CGPA):&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>DSA:&nbsp;&nbsp;<input type="text" name="dsa" id="dsa" class="score"></td>
                    </tr>
                    <tr>
                        <td>WebDev:&nbsp;&nbsp;<input type="text" name="webdev" id="webdev" class="score"></td>
                    </tr>
                    <tr>
                        <td>React:&nbsp;&nbsp;<input type="text" name="react" id="react" class="score"></td>
                    </tr>
                    <tr>
                        <td>
                            Status:&nbsp;&nbsp;
                            <select name="status" id="status">
                                <option>Placed</option>
                                <option>Not-Placed</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="btn" type="submit">Add Details</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="lists">
            <table id="list-student" cellspacing="0">
                <caption>Lists of Students</caption>
                <tr id="heading">
                    <td>Student_Name</td>
                    <td>Batch</td>
                    <td>College_Name</td>
                    <td>DSA(%)&nbsp;</td>
                    <td>WebDev&nbsp;(%)</td>
                    <td>React(%)&nbsp;</td>
                    <td>Status</td>
                    <td>Allocation</td>
                    <td>Remove</td>
                </tr>
                <% for(let result of results){ %>
                <tr class="st-list">
                    <td><%= result.student_name  %></td>
                    <td><%= result.batch  %></td>
                    <td><%= result.college_name  %></td>
                    <td><%= result.course_score.dsa  %></td>
                    <td><%= result.course_score.webdev  %></td>
                    <td><%= result.course_score.react  %></td>
                    <td><%= result.student_status  %></td>
                    <td><a href="/allocate/<%= result.id %>"><button class="btn">Allocate</button></a></td>
                    <td><a href="/delete/<%= result.id %>"><button class="del-btn">Remove</button></a></td>
                </tr>
                <% } %>
            </table>
        </div>
        <a href="/allocate"><button id="int-btn">Go to Interviews List</button></a>
    </div>
</body>

</html>